<!-- show store page -->

<table>
    <tr>
        <td>Store name: <%= @store.name %></td>
    </tr>
    <% if current_user.id == @store.user_id %>
        <tr>
            <td><%= link_to "Edit store name", edit_path %></td>
            <td><%= link_to "Delete store", destroy_store_path, method: "delete"  %></td>
            <td><%= link_to "Create a listing", items_new_path %></td>
        </tr>
    <% end %>
</table>
<div class="container">
    <% @items.each do |item| %>
        <div class="item" id="index_item">
            <% if item.image.attached? %>
                <div>
                    <%= cl_image_tag(item.image.key, crop: :scale, width: 200, cloud_name: "dsrp2dd5i") %>
                </div>
            <% end %>
            <div class="container">
                <div class="item">
                    <h5><%= link_to item.title, item_path(item.id) %></h5>
                </div>
                <div class="item">
                    <h3>$<%= "%.2f" % item.price %></h3>
                </div>
            </div>
        </div>
    <% end %>
</div>
<div>
    <%= will_paginate @items %>
</div>