<h1>Create a new category</h1>

<%= form_with model: @categories, local: true do |form| %>
    <div>
        <%= form.label (:name) %>
        <%= form.text_field(:name) %>
    </div>
    <div>
        <%= form.submit("Create") %>
    </div>
<% end %>
<p><%= link_to "Cancel", categories_path %> </p>